<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/head :: head">
    <title id="pageTitle" th:text="#{patients.overview}"></title>
</head>
<body>
<div class="content">
    <h2 id="title" th:text="#{patients.overview}"></h2>
    <a href="/patient/register" class="btn btn-primary btn-sm margin-top" th:text="#{add.new.patient}"></a>
    <p th:if="${patients.isEmpty()}" class="message margin-top" th:text="#{no.patients}"></p>
    <p th:if="${!patients.isEmpty()}" class="margin-top" th:text="#{patients.overview.intro}"></p>
    <table th:if="${!patients.isEmpty()}" class="table table-bordered table-hover table-sm margin-top">
        <tr th:each="patient: ${patients}">
            <td class="no-padding">
                <a th:href="'/patient/' + ${patient.socialSecurityNumber}" th:text="${patient.socialSecurityNumber}" class="patient"></a>
            </td>
        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>